<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286703047775-dir7mitt7079cdb1iquij0flk12th902.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286703047775-dir7mitt7079cdb1iquij0flk12th902</string>
	<key>API_KEY</key>
	<string>AIzaSyDvTcRS1ivHNsIQ3yugspeaP1wVNujmjtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>286703047775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.donobox</string>
	<key>PROJECT_ID</key>
	<string>test-firebase-15822</string>
	<key>STORAGE_BUCKET</key>
	<string>test-firebase-15822.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286703047775:ios:d155d4ce2ba2d803d137ea</string>
</dict>
</plist>